html,body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding:0;
}
.btnWa{
  background-color: #4CAF50;
  border: none;
  color: white;
 line-height: 3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width:100%;
}
.btnPhone{
  background-color: #4CAF50;
  border: none;
  color: white;
 line-height: 3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width:100%;
}
.btnCatalog{
  background-color: #4CAF50;
  border: none;
  color: white;
 line-height: 3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width:100%;
}

/* st floorpl */

.image-row > .image-column {
    padding: 0 8px;
  }
  
  .image-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .image-column {
    float: left;
    width: 50%;
  }
  
  /* The Modal (background) */
  .image-modal {
    display: none;
    /* width: 0;
    height: 0; */
    width:auto;
    height:auto;
    overflow: hidden;
    position:fixed;
    margin: auto;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    transition: .5s;
    text-align:center;
    padding:100px 0;
    bottom: 0;
    right:0;
  }
  
 
  .image-modal img{
      max-width: 100%;
      max-height: 100%;
  }
  
  /* The Close Button */
  .image-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .image-close:hover,
  .image-close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .image-mySlides {
    display: none;
  }
  
  .image-cursor {
    cursor: pointer;
  }
 
  /* Next & previous buttons */
  .image-prev,
  .image-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* padding: 16px; */
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .image-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .image-prev{
    left:0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .image-prev:hover,
  .image-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .image-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .image-caption-container {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    padding: 2px 16px;
    color: white;
  }
  
  .image-demo {
    opacity: 0.6;
  }
  
  .image-active,
  .image-demo:hover {
    opacity: 1;
  }
  
  img.image-hover-shadow {
    transition: 0.3s;
  }
  
  .image-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* en floorpl */

/* st third */

.third-row > .third-column {
    padding: 0 8px;
  }
  
  .third-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .third-column {
    float: left;
    width: 50%;
  }
  
  /* The Modal (background) */
  .third-modal {
    display: none;
    /* width: 0;
    height: 0; */
    width:auto;
    height:auto;
    overflow: hidden;
    position:fixed;
    margin: auto;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    transition: .5s;
    text-align:center;
    padding:100px 0;
    bottom: 0;
    right:0;
  }
  
 
  .third-modal img{
      max-width: 100%;
      max-height: 100%;
  }
  
  /* The Close Button */
  .third-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .third-close:hover,
  .third-close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .third-mySlides {
    display: none;
  }
  
  .third-cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .third-prev,
  .third-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* padding: 16px; */
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .third-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .third-prev{
    left:0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .third-prev:hover,
  .third-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .third-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .third-caption-container {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    padding: 2px 16px;
    color: white;
  }
  
  .third-demo {
    opacity: 0.6;
  }
  
  .third-active,
  .third-demo:hover {
    opacity: 1;
  }
  
  img.third-hover-shadow {
    transition: 0.3s;
  }
  
  .third-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* en third */

/* st glr */

.gallery-row > .gallery-column {
  padding: 0 8px;
}

.gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.gallery-modal {
  display: none;
  /* width: 0;
  height: 0; */
  width:auto;
  height:auto;
  overflow: hidden;
  position:fixed;
  margin: auto;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  transition: .5s;
  text-align:center;
  padding:100px 0;
  bottom: 0;
  right:0;
}


.gallery-modal img{
    max-width: 100%;
    max-height: 100%;
}

/* The Close Button */
.gallery-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.gallery-close:hover,
.gallery-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.gallery-mySlides {
  display: none;
}

.gallery-cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.gallery-prev,
.gallery-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* padding: 16px; */
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.gallery-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.gallery-prev{
  left:0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gallery-prev:hover,
.gallery-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.gallery-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.gallery-caption-container {
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  padding: 2px 16px;
  color: white;
}

.gallery-demo {
  opacity: 0.6;
}

.gallery-active,
.gallery-demo:hover {
  opacity: 1;
}

img.gallery-hover-shadow {
  transition: 0.3s;
}

.gallery-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* en glr */



.section {
    /* position: absolute;
    top:81%; */
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #F8CD96;
}

.section a {
    color: black;
}

main {
    margin-top:100px;

}

.whyChoice {
    background-color: rgb(238, 234, 234);
}

.titleWC {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.featureMobile {
    display: none;
}

.featureTitle {
    font-weight: 700;
    font-size: 20px;
}

.featureDesktop {
    display: block;
}

.featureText {
    font-weight: 400;
    font-size: 15px;
}
img .imageFloor{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
}
/* .filter {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: contrast(100%);
    backdrop-filter: contrast(100%);
    background-color: rgba(21, 3, 49, 0.5);
    height: 600px;
} */
.floorplanMain {
    
    background-color:  rgba(21, 3, 49, 0.5);
    /* height:100vh; */
    height:60%;
}
.floorBuai{
    padding-top: 50px;
}
.floorplanHeader {
    justify-content: center;
    display: flex;
    text-align: center;
}
.thirdTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    color:#4054B2;
}

.galleryMain{
    background-color:  rgba(21, 3, 49, 0.5);
    /* height:100vh; */
    height:60%;
}
.galleryBuai{
    padding-top:50px;
}
.galleryHeader{
    display:flex;
    justify-content: center;
}
.galleryTitle{
    color:white;
    font-size:23px;
    font-weight:700;
}
iframe{
  max-width:100%;
}
.hubungiTitlw{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
    .featureDesktop {
        display: none;
    }

    .featureMobile {
        display: block;
    }

    .featureTitle {
        display: flex;
        justify-content: center;
    }
    .overlaping{
        padding-right:30px;
        padding-left:30px;
    }
    .gallery-column{
      width:50%;
    }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%
  }
}

.col .row {
  margin-left: -.75rem;
  margin-right: -.75rem
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.section.no-pad {
  padding: 0
}

.section.no-pad-bot {
  padding-bottom: 0
}

.section.no-pad-top {
  padding-top: 0
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .75rem;
  min-height: 1px
}

.row .col[class*="push-"],
.row .col[class*="pull-"] {
  position: relative
}

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto
}

.row .col.offset-s1 {
  margin-left: 8.3333333333%
}

.row .col.pull-s1 {
  right: 8.3333333333%
}

.row .col.push-s1 {
  left: 8.3333333333%
}

.row .col.offset-s2 {
  margin-left: 16.6666666667%
}

.row .col.pull-s2 {
  right: 16.6666666667%
}

.row .col.push-s2 {
  left: 16.6666666667%
}

.row .col.offset-s3 {
  margin-left: 25%
}

.row .col.pull-s3 {
  right: 25%
}

.row .col.push-s3 {
  left: 25%
}

.row .col.offset-s4 {
  margin-left: 33.3333333333%
}

.row .col.pull-s4 {
  right: 33.3333333333%
}

.row .col.push-s4 {
  left: 33.3333333333%
}

.row .col.offset-s5 {
  margin-left: 41.6666666667%
}

.row .col.pull-s5 {
  right: 41.6666666667%
}

.row .col.push-s5 {
  left: 41.6666666667%
}

.row .col.offset-s6 {
  margin-left: 50%
}

.row .col.pull-s6 {
  right: 50%
}

.row .col.push-s6 {
  left: 50%
}

.row .col.offset-s7 {
  margin-left: 58.3333333333%
}

.row .col.pull-s7 {
  right: 58.3333333333%
}

.row .col.push-s7 {
  left: 58.3333333333%
}

.row .col.offset-s8 {
  margin-left: 66.6666666667%
}

.row .col.pull-s8 {
  right: 66.6666666667%
}

.row .col.push-s8 {
  left: 66.6666666667%
}

.row .col.offset-s9 {
  margin-left: 75%
}

.row .col.pull-s9 {
  right: 75%
}

.row .col.push-s9 {
  left: 75%
}

.row .col.offset-s10 {
  margin-left: 83.3333333333%
}

.row .col.pull-s10 {
  right: 83.3333333333%
}

.row .col.push-s10 {
  left: 83.3333333333%
}

.row .col.offset-s11 {
  margin-left: 91.6666666667%
}

.row .col.pull-s11 {
  right: 91.6666666667%
}

.row .col.push-s11 {
  left: 91.6666666667%
}

.row .col.offset-s12 {
  margin-left: 100%
}

.row .col.pull-s12 {
  right: 100%
}

.row .col.push-s12 {
  left: 100%
}

@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.offset-m1 {
    margin-left: 8.3333333333%
  }

  .row .col.pull-m1 {
    right: 8.3333333333%
  }

  .row .col.push-m1 {
    left: 8.3333333333%
  }

  .row .col.offset-m2 {
    margin-left: 16.6666666667%
  }

  .row .col.pull-m2 {
    right: 16.6666666667%
  }

  .row .col.push-m2 {
    left: 16.6666666667%
  }

  .row .col.offset-m3 {
    margin-left: 25%
  }

  .row .col.pull-m3 {
    right: 25%
  }

  .row .col.push-m3 {
    left: 25%
  }

  .row .col.offset-m4 {
    margin-left: 33.3333333333%
  }

  .row .col.pull-m4 {
    right: 33.3333333333%
  }

  .row .col.push-m4 {
    left: 33.3333333333%
  }

  .row .col.offset-m5 {
    margin-left: 41.6666666667%
  }

  .row .col.pull-m5 {
    right: 41.6666666667%
  }

  .row .col.push-m5 {
    left: 41.6666666667%
  }

  .row .col.offset-m6 {
    margin-left: 50%
  }

  .row .col.pull-m6 {
    right: 50%
  }

  .row .col.push-m6 {
    left: 50%
  }

  .row .col.offset-m7 {
    margin-left: 58.3333333333%
  }

  .row .col.pull-m7 {
    right: 58.3333333333%
  }

  .row .col.push-m7 {
    left: 58.3333333333%
  }

  .row .col.offset-m8 {
    margin-left: 66.6666666667%
  }

  .row .col.pull-m8 {
    right: 66.6666666667%
  }

  .row .col.push-m8 {
    left: 66.6666666667%
  }

  .row .col.offset-m9 {
    margin-left: 75%
  }

  .row .col.pull-m9 {
    right: 75%
  }

  .row .col.push-m9 {
    left: 75%
  }

  .row .col.offset-m10 {
    margin-left: 83.3333333333%
  }

  .row .col.pull-m10 {
    right: 83.3333333333%
  }

  .row .col.push-m10 {
    left: 83.3333333333%
  }

  .row .col.offset-m11 {
    margin-left: 91.6666666667%
  }

  .row .col.pull-m11 {
    right: 91.6666666667%
  }

  .row .col.push-m11 {
    left: 91.6666666667%
  }

  .row .col.offset-m12 {
    margin-left: 100%
  }

  .row .col.pull-m12 {
    right: 100%
  }

  .row .col.push-m12 {
    left: 100%
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.offset-l1 {
    margin-left: 8.3333333333%
  }

  .row .col.pull-l1 {
    right: 8.3333333333%
  }

  .row .col.push-l1 {
    left: 8.3333333333%
  }

  .row .col.offset-l2 {
    margin-left: 16.6666666667%
  }

  .row .col.pull-l2 {
    right: 16.6666666667%
  }

  .row .col.push-l2 {
    left: 16.6666666667%
  }

  .row .col.offset-l3 {
    margin-left: 25%
  }

  .row .col.pull-l3 {
    right: 25%
  }

  .row .col.push-l3 {
    left: 25%
  }

  .row .col.offset-l4 {
    margin-left: 33.3333333333%
  }

  .row .col.pull-l4 {
    right: 33.3333333333%
  }

  .row .col.push-l4 {
    left: 33.3333333333%
  }

  .row .col.offset-l5 {
    margin-left: 41.6666666667%
  }

  .row .col.pull-l5 {
    right: 41.6666666667%
  }

  .row .col.push-l5 {
    left: 41.6666666667%
  }

  .row .col.offset-l6 {
    margin-left: 50%
  }

  .row .col.pull-l6 {
    right: 50%
  }

  .row .col.push-l6 {
    left: 50%
  }

  .row .col.offset-l7 {
    margin-left: 58.3333333333%
  }

  .row .col.pull-l7 {
    right: 58.3333333333%
  }

  .row .col.push-l7 {
    left: 58.3333333333%
  }

  .row .col.offset-l8 {
    margin-left: 66.6666666667%
  }

  .row .col.pull-l8 {
    right: 66.6666666667%
  }

  .row .col.push-l8 {
    left: 66.6666666667%
  }

  .row .col.offset-l9 {
    margin-left: 75%
  }

  .row .col.pull-l9 {
    right: 75%
  }

  .row .col.push-l9 {
    left: 75%
  }

  .row .col.offset-l10 {
    margin-left: 83.3333333333%
  }

  .row .col.pull-l10 {
    right: 83.3333333333%
  }

  .row .col.push-l10 {
    left: 83.3333333333%
  }

  .row .col.offset-l11 {
    margin-left: 91.6666666667%
  }

  .row .col.pull-l11 {
    right: 91.6666666667%
  }

  .row .col.push-l11 {
    left: 91.6666666667%
  }

  .row .col.offset-l12 {
    margin-left: 100%
  }

  .row .col.pull-l12 {
    right: 100%
  }

  .row .col.push-l12 {
    left: 100%
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
  }

  .row .col.offset-xl1 {
    margin-left: 8.3333333333%
  }

  .row .col.pull-xl1 {
    right: 8.3333333333%
  }

  .row .col.push-xl1 {
    left: 8.3333333333%
  }

  .row .col.offset-xl2 {
    margin-left: 16.6666666667%
  }

  .row .col.pull-xl2 {
    right: 16.6666666667%
  }

  .row .col.push-xl2 {
    left: 16.6666666667%
  }

  .row .col.offset-xl3 {
    margin-left: 25%
  }

  .row .col.pull-xl3 {
    right: 25%
  }

  .row .col.push-xl3 {
    left: 25%
  }

  .row .col.offset-xl4 {
    margin-left: 33.3333333333%
  }

  .row .col.pull-xl4 {
    right: 33.3333333333%
  }

  .row .col.push-xl4 {
    left: 33.3333333333%
  }

  .row .col.offset-xl5 {
    margin-left: 41.6666666667%
  }

  .row .col.pull-xl5 {
    right: 41.6666666667%
  }

  .row .col.push-xl5 {
    left: 41.6666666667%
  }

  .row .col.offset-xl6 {
    margin-left: 50%
  }

  .row .col.pull-xl6 {
    right: 50%
  }

  .row .col.push-xl6 {
    left: 50%
  }

  .row .col.offset-xl7 {
    margin-left: 58.3333333333%
  }

  .row .col.pull-xl7 {
    right: 58.3333333333%
  }

  .row .col.push-xl7 {
    left: 58.3333333333%
  }

  .row .col.offset-xl8 {
    margin-left: 66.6666666667%
  }

  .row .col.pull-xl8 {
    right: 66.6666666667%
  }

  .row .col.push-xl8 {
    left: 66.6666666667%
  }

  .row .col.offset-xl9 {
    margin-left: 75%
  }

  .row .col.pull-xl9 {
    right: 75%
  }

  .row .col.push-xl9 {
    left: 75%
  }

  .row .col.offset-xl10 {
    margin-left: 83.3333333333%
  }

  .row .col.pull-xl10 {
    right: 83.3333333333%
  }

  .row .col.push-xl10 {
    left: 83.3333333333%
  }

  .row .col.offset-xl11 {
    margin-left: 91.6666666667%
  }

  .row .col.pull-xl11 {
    right: 91.6666666667%
  }

  .row .col.push-xl11 {
    left: 91.6666666667%
  }

  .row .col.offset-xl12 {
    margin-left: 100%
  }

  .row .col.pull-xl12 {
    right: 100%
  }

  .row .col.push-xl12 {
    left: 100%
  }
}
